html,body {
  scroll-behavior: smooth;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   
   
  }
  #logo-container {
  
    justify-content: center;
     background: linear-gradient(to left,blue,blue,red, blue, red, orange, red);
     -webkit-background-clip: text;
     color: transparent; 
     font-size: 22px;
     font-weight: 1000;
   
   }
  
   .actived{
      
    justify-content: flex-start;
}
.topnav {
  overflow: hidden;
  background-color: black;
  
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 60px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  
  font-weight: bold;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

  .ama{
    height: 100%;
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.0001),
      rgba(255, 255, 255, 0.0001)
    )
    ,
    url("img/AMAZE\ TV\ \(1\).png");
   
   
   
    
    background-repeat: no-repeat;
    background-size: cover;
   
    font-size: x-large;
      
    color: black; 
    object-fit: cover;
       
      
  }


  .text-bg {text-align: center;}
 .text-bg span {
   
    font-size: 80px;
line-height: 80px;
color:lightseagreen;
text-transform: uppercase;
 }
.text-bg h1 {
   color: white;
padding-top: 20px;
font-size: 100px;
line-height: 85px;
padding-bottom: 40px;
text-transform: uppercase;

}
.text-bg p {
   font-size: 17px;
display: block;
color: white;
line-height: 30px;
padding-bottom: 50px;
font-weight: 400;
}
.text-bg a {
  text-decoration: none; 
  font-size: large;
  font-weight: bold;
background-color: #0fbbad;
color: #000;
padding: 12px 0px;
max-width: 253px;
width: 100%;
display: inline-block;
text-align: center;
border-radius: 30px;
margin-right: 10px;
transition: ease all 0.5s;
margin-bottom: 35px;
}



.text-bg a:hover {
    background-color: red;
   color: #fff;
   transition: ease all 0.5s;          
}
.text {
 
    position: inherit;
    text-align: left;
    background: #0fbbad;
    width: 100%;
    bottom: auto;
    padding: 0;
    margin-top: 90px 
}

section {

  border-top: 8px solid #222;
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #000000;
}
section h2 {
   font-size: 55px;
   color: #fff;
   font-weight: bold;
}

section p {
   font-size: 22px;
   color: #fff;
}
@media(max-width: 612px) {
  
  section h2 {
     font-size: 40px;
  }
 
 section p {
     font-size: 18px;
  }
}
@media(max-width: 768px) {
  .reverse {
     flex-direction: column-reverse;
  }
}

footer {
  background-color: #000000;
  padding-top: 40px;
  border-top: 8px solid #222;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  color: #757575;
  margin-bottom: 15px;
}

footer a {
  text-decoration: none;
  color: #757575;
}

footer a:hover {
  color: #757575;
  text-decoration: underline;
}

