#back{

    background-image:
    url("demon_slayer_tanjiro_kamado_standing_in_forest_with_background_of_moon_blue_sky_and_trees_hd_anime_hd.jpg");
}
#h1{
    margin-right: 27cm;
    border-right: 2px solid black;
    height: 50px;
   
}
#h2{
    margin-right: 27cm;
    border-right: 2px solid black;
    height: 900px;
    color: white;
}
.img{
    border-radius: 1000px;
    width: 50px;
}
.st{
    margin-left: 5cm;
    border-radius: 1000px;
    width: 50px;
}